# Ambiente local
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_BABYPLAYS_WHATSAPP=<numero-internacional-somente-digitos>
NEXT_PUBLIC_BABYPLAYS_INSTAGRAM_URL=<url-completa-do-instagram>

# Railway/homologacao
# NEXT_PUBLIC_API_BASE_URL=https://api-babyplays.up.railway.app
# NEXT_PUBLIC_BABYPLAYS_WHATSAPP=<numero-internacional-somente-digitos>
# NEXT_PUBLIC_BABYPLAYS_INSTAGRAM_URL=<url-completa-do-instagram>

# Dominio final
# NEXT_PUBLIC_API_BASE_URL=https://api.babyplays.com.br
