# Ambiente local
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_BABYPLAYS_WHATSAPP=5551981177297
NEXT_PUBLIC_BABYPLAYS_INSTAGRAM_URL=https://www.instagram.com/babyplays.brinquedos/

# Railway/homologacao
# NEXT_PUBLIC_API_BASE_URL=https://api-babyplays.up.railway.app

# Dominio final
# NEXT_PUBLIC_API_BASE_URL=https://api.babyplays.com.br
