# Senhas e Banco de Dados
**/.env
**/*.sqlite3
backend/media/
backend/staticfiles/
# Arquivos de Cache do Python
**/__pycache__/
**/.mypy_cache/
**/*.pyc

# Ambientes Virtuais
**/venv/
venv/
**/.vscode
# Frontend / Next.js (Para o Nicolas no futuro)
**/node_modules/
**/.next/
**/out/

# Sistema Operacional
.DS_Store
Thumbs.db
